h1 {
    font-family: 'Titan One', cursive;
    font-size: 600%;
    text-align: center;  
}

.buttonGroup {
    text-align: center; 
    padding-top: 5em; 
}

.body {
    background-image: url();
    background-repeat: no-repeat; 
    height: 100%;
    background-size: cover; 
}

.results {
    background-color: lightgray; 
    height: 300px; 
    width: 55%;
    margin: auto; 
    
}